
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
  // .hamburger {
  //   display: block;
  // }    


  .header {
    padding: 5px 0;
    border: none;
    .logo {
      text-align: center;
      img {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }
    }

    &__phone {
      display: block;   }
  }

  .main-menu {
    // display: block;
    display: none;
    top: 70px;
    left: 0;
    right: 0;
    text-align: left;
    // margin-left: 0;
    margin: 0 auto;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0 0 60px 0;
      text-align: center;

			li {
        margin: 0 0 10px;

        &:last-child {
          margin: 0;
        }
        a {
          color: #fff;
          // font-size: 18px;
        }
			}
		}
  }  

	// .main-menu {
  //   display: none;
  //   background-color: #fff;
  //   position: fixed;
  //   top: 89px;
  //   left: 0;
  //   right: 0;
  //   text-align: left;
  //   margin-left: 0;
  //   z-index: 98;
  //   padding: 10px 0;

	// 	ul {
	// 		display: block;
	// 		height: auto;
  //     padding: 0;
  //     margin: 0;

	// 		li {
  //       margin: 0 0 5px;

  //       &:last-child {
  //         margin: 0;
  //       }
	// 		}
	// 	}
  // }    

  .s {
    
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .section {
    &-title {
      font-size: 24px;
    }      
  }

  .s {
    &-main {
      
    } 
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .break {
    display: inline;
  }

  .call-me {
    display: flex;
  }

  .s {
    &-thanks {
      padding: 150px 0 50px;
      
      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}